{% extends 'base.html.twig' %}

{% block title %}{{ 'expense.category.list.title'|trans }}{% endblock %}

{% block content %}
    <h1>{{ 'expense.category.list.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'expense.category.name'|trans }}</th>
                <th>{{ 'expense.category.unitPrice'|trans }}</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.name }}</td>
                <td>{{ category.unitPrice }}</td>
                <td>
                    <a href="{{ path('expense_admin_category_edit', {'id': category.id}) }}">{{ 'expense.category.action.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">{{ 'expense.category.empty_list'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <form method="post" action="{{ path('expense_admin_category_refresh') }}">
        <button class="btn btn-primary" type="submit">{{ 'expense.category.refresh_from_jira'|trans }}</button>
    </form>

    <a class="btn btn-success" href="{{ path('expense_admin_category_new') }}">{{ 'expense.category.new'|trans }}</a>
{% endblock %}
