{% extends 'base.html.twig' %}

{% block title %}
  {{ 'service_order_form.receipt.title'|trans }}
{% endblock %}

{% block content %}
  <div class="alert alert-success" role="alert">
    <h4 class="alert-heading">{{ 'service_order_form.receipt.title'|trans }}</h4>
    <p class="card-text">{{ 'service_order_form.receipt.sub_text'|trans }}<br>
  </div>

  <h3 class="mt-4">{{ 'service_order_form.job_description.header'|trans }}</h3>
  <div class="mb-2">
    <span class="label"><strong>{{ 'service_order_form.job_description.title.label'|trans }}:</strong></span>
    <span class="value">{{ form_data.form.job_title }}</span>
  </div>
  <div class="mb-2">
    <span class="label"><strong>{{ 'service_order_form.job_description.orders.label'|trans }}:</strong></span>
    <ul>
      {% for line in form_data.form.order_lines %}
        <li>{{ line.amount }} {{ line.type }}</li>
      {% endfor %}
    </ul>
  </div>

  <div class="mb-2">
    <span class="label"><strong>{{ 'service_order_form.job_description.files.label'|trans }}:</strong></span>
    <ul>
      {% if form_data.files is defined %}
        {% for file in form_data.files %}
          <li>{{ file }}</li>
        {% endfor %}
      {% endif %}
    </ul>
  </div>

  <div class="mb-2">
    <span class="label"><strong>{{ 'service_order_form.job_description.description.label'|trans }}:</strong></span>
    <span class="value">{{ form_data.form.description }}</span>
  </div>

  <h3 class="mt-4">{{ 'service_order_form.job_payment.header'|trans }}</h3>
  <div class="mb-2">
    {% if form_data.form.marketing_account %}
      <span class="label"><strong>{{ 'service_order_form.job_payment.marketing_account.label'|trans }}:</strong></span>
      <span class="value">{{ form_data.form.debitor }}</span>
    {% else %}
      <span class="label"><strong>{{ 'service_order_form.job_payment.debitor.label'|trans }}:</strong></span>
      <span class="value">{{ form_data.form.debitor }}</span>
    {% endif %}
  </div>

  <h3 class="mt-4">{{ 'service_order_form.job_delivery.header'|trans }}</h3>
  <div class="mb-2">
    <span class="label"><strong>{{ 'service_order_form.job_delivery.department.label'|trans }}:</strong></span>
    <span class="value">{{ form_data.form.department }}</span>
  </div>

  <div class="mb-2">
    <span class="label"><strong>{{ 'service_order_form.job_delivery.address.label'|trans }}:</strong></span>
    <div>
      <div class="value">{{ form_data.form.address }}</div>
      <div class="value"><span>{{ form_data.form.postal_code }}</span> <span>{{ form_data.form.city }}</span></div>
    </div>
  </div>

  <div class="mb-2">
    <span class="label"><strong>{{ 'service_order_form.job_delivery.date.label'|trans }}:</strong></span>
    <span class="value">{{ form_data.form.date|date('d-m-Y') }}</span>
  </div>

  <div class="mb-2">
    <span class="label"><strong>{{ 'service_order_form.job_delivery.delivery_description.label'|trans }}:</strong></span>
    <span class="value">{{ form_data.form.delivery_description }}</span>
  </div>
{% endblock %}