{% extends 'base.html.twig' %}

{% block title %}
  {{ 'service_order_form.title'|trans }}
{% endblock %}
{% block content %}
  <h1>{{ 'service_order_form.title'|trans }}</h1>
  <div class="form" id="graphic-service-order">
    {{ form_start(form) }}
    <div class="form-errors">
      {{ form_errors(form) }}
    </div>
    <h4 class="mt-4">{{ 'service_order_form.profile.header'|trans }}</h4>
    <div>
      <div class="form-group no-gutters">
        <label>{{ 'service_order_form.profile.email'|trans }}:</label>
        <span class="value">{{ user_email }}</span>
      </div>
      {{ form_row(form.full_name) }}
      <div class="row">
        <div class="form-group col-md-6">
          {{ form_row(form.phone) }}
        </div>
      </div>
    </div>
    <h4 class="mt-4">{{ 'service_order_form.job_description.header'|trans }}</h4>
    {{ form_row(form.job_title) }}
    <div class="order-lines">
      <ul class="lines" data-prototype="{{ form_widget(form.order_lines.vars.prototype)|e('html_attr') }}">
        {% for order_line in form.order_lines %}
          <li>{{ form_row(order_line) }}</li>
        {% endfor %}
      </ul>
      {{ form_widget(form.order_lines) }}
    </div>
    {{ form_row(form.description) }}
    <div class="multi-upload-lines">
      <label>{{ form_label(form.multi_upload) }}</label>
      {# store the prototype on the data-prototype attribute #}
      <ul class="file-lines" data-prototype="{{ form_widget(form.multi_upload.vars.prototype)|e('html_attr') }}">
        {% for upload in form.multi_upload %}
          <li>{{ form_row(upload) }}</li>
        {% endfor %}
      </ul>
      {{ form_help(form.multi_upload) }}
      {{ form_widget(form.multi_upload) }}
    </div>
    <h4 class="mt-4">{{ 'service_order_form.job_payment.header'|trans }}</h4>
    <div class="row">
      <div class="form-group col-md-6">
        {{ form_row(form.debitor) }}
        <small class="form-text text-muted">
          <div class="debitor-validator">Debitor: <span class="js-debtor-exists">Ukendt</span></div>
          {{ 'service_order_form.job_payment.debitor.help_header'|trans }}
            {% for debtor in options.used_debtors %}
              <span class="badge badge-secondary js-fill-debtor">{{ debtor }}</span>
            {% endfor %}
        </small>
      </div>
      <div class="form-check col-md-6 marketing-account">
        {{ form_row(form.marketing_account) }}
      </div>
    </div>
    <h4 class="mt-4">{{ 'service_order_form.job_delivery.header'|trans }}</h4>
    <div class="row">
      <div class="form-group col-md-6">
        {{ form_row(form.department) }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        {{ form_row(form.address) }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        {{ form_row(form.postal_code) }}
      </div>
      <div class="form-group col-md-6">
        {{ form_row(form.city) }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-6">
        {{ form_row(form.date, {'attr': {'class': 'js-datepicker'}}) }}
      </div>
    </div>
    <div class="row">
      <div class="form-group col-md-12">
        {{ form_row(form.delivery_description) }}
      </div>
    </div>
    {{ form_end(form) }}
    <div id="graphic_service_order_form_save_text" style="display: none;">
    <button class="btn btn-primary" type="button" disabled>
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      {{ 'service_order_form.save.progress_text'|trans }}
    </button>
    </div>
  </div>
  <script type="text/javascript">
    let allDebtors = {{ options.all_debtors|raw }};
  </script>
{% endblock %}

{% block javascripts %}
  {{ encore_entry_script_tags('app') }}
  {{ encore_entry_script_tags('graphic_service_order') }}
{% endblock %}
