{% set appItems = {
    faktura:    { title: "Faktura", desc: "Opret og rediger fakturaer baseret på tasks i Jira", icon: "fa-file-invoice", path: "/", btnTxt: "Lav en Faktura" },
    taskWizard:    { title: "Task wizard", desc: "Opret mange tasks på en gang.", icon: "fa-tasks", path: "/", btnTxt: "Bliv Task wizard" },
    ordre:    { title: "Ordre", desc: "Opret ordrepakker ud fra tasks i Jira", icon: "fa-box-open", path: "/", btnTxt: "Pak en Ordre" },
    sprintplan:    { title: "Sprintplan", desc: "Planlægningsoversigt og sprintrapporter baseret på tasks i Jira", icon: "fa-braille", path: "/", btnTxt: "Se Sprintplan" },
    nytProjekt:    { title: "Nyt projekt", desc: "Opret et nyt Jira-projekt ud fra en skabelon", icon: "fa-project-diagram", path: "/", btnTxt: "Opret Nyt projekt" },
    udgift:    { title: "Udgift", desc: "Opret udgifter i forbindelse med projekter og tasks", icon: "fa-credit-card", path: "/", btnTxt: "Tilføj en Udgift" },
} %}


<div class="main-content col-12 col-md-9 col-lg-10 pt-md-3 pl-md-5 order-0 order-md-1">
  {% block bredcrumb %}
    <p class="lead text-muted">{{ 'main.bredcrumb'|trans }}</p>
  {% endblock %}
  {% block title %}
    <h1>{{ 'main.title'|trans }}</h1>
  {% endblock %}
  <hr>
  {% block content %}
    <div class="row">
      {% for app in appItems %}
        <div class="col-md-4 mb-3">
          <div class="card h-100">
            <div class="row no-gutters flex-grow-1">
              <div class="col-3 col-md-12 col-lg-3 bg-primary">
                <div class="card-img-top text-light text-center p-3">
                  <i class="fas {{ app.icon }} fa-fw fa-2x"></i>
                </div>
              </div>
              <div class="col-9 col-md-12 col-lg-9">
                <div class="card-body h-100 flex-column">
                  <h5 class="card-title">{{ app.title }}</h5>
                  <p class="card-text">{{ app.desc }}</p>
                  <a href="{{ app.path }}" class="btn btn-primary mt-auto">{{ app.btnTxt }}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endblock %}
</div>



