<p>{{ "main.sidebar.shortcuts.title"|trans }}</p>
<p class="text-muted mt-md-3">
  {{ "main.sidebar.shortcuts.desc"|trans }}
</p>
<a class="btn btn-primary btn-block" href="#"><i class="fas fa-plus-circle fa-fw"></i> Button</a>
<div class="navbar navbar-light align-items-start pl-md-0 pr-md-0">
  <nav class="nav flex-md-column justify-content-md-center">
    <a class="nav-link" href="#">{{ "main.sidebar.shortcuts.projects"|trans }}</a>
    <a class="nav-link" href="#">{{ "main.sidebar.shortcuts.confluence"|trans }}</a>
    <a class="nav-link" href="#">{{ "main.sidebar.shortcuts.teams"|trans }}</a>
  </nav>
</div>

