{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form) }}
        {{ form_row(form.project) }}
        {{ form_row(form.issue_key) }}
        {{ form_row(form.category) }}
        <div class="text-right">
            <a href="{{ path('expense_admin_category_index') }}">{{ 'expense.category_admin'|trans }}</a>
        </div>
        {{ form_rest(form) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('expense') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        var Expense = {{
                          {
                              project_issues_url: project_issues_url,
                              messages: {
                              'expense.new.project.placeholder': 'expense.new.issue.help'|trans,
                              'expense.new.search_for_issue_in_project': 'expense.new.search_for_issue_in_project'|trans,
                              }
                          }
                          |json_encode|raw
                      }};
    </script>
    {{ encore_entry_script_tags('expense') }}
{% endblock %}
