{% extends 'base.html.twig' %}

{% block title %}{{ board.name }}{{ 'planning.title.suffix'|trans }}{% endblock %}

{% block main %}
    <div id="app" class="app">
        <a href="/planning">{{ 'planning.choose_another_board'|trans }}</a>

        <h1>{{ 'planning.headline.headline'|trans }} - {{ board.name }}</h1>

        <div class="planning-section">
            <h5>{{ 'planning.headline.users'|trans }}</h5>

            <div class="input-group mb-3" style="max-width: 400px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ 'planning.filter_users'|trans }}</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="filter" aria-describedby="basic-addon1" v-model="userFilter">
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-sm" id="table-projects">
                    <thead>
                    <tr>
                        <th colspan="3">
                        </th>
                        <th v-html="sprint.name" v-for="sprint in sprints"></th>
                    </tr>
                    </thead>
                    <tbody v-for="user in sortedUsers" v-if="!hideUsers.hasOwnProperty(user.key) || hideUsers[user.key] === false">
                    <tr>
                        <td>
                            <strong v-html="user.displayName"></strong>
                            <div class="toggle">
                                <a v-on:click="toggleKey(user.key)">
                                    <span v-html="getToggle(user.key)"></span>
                                </a>
                            </div>
                        </td>
                        <td>
                            <a v-on:click="toggleUser(user.key)">
                                <span><i class="fas fa-eye-slash"></i></span>
                            </a>
                        </td>
                        <td></td>
                        <td v-bind:class="[
                  {'remaining-critical': getRemainingEstimatUser(user, sprint) > 35},
                  {'remaining-warning': getRemainingEstimatUser(user, sprint) > 28 && getRemainingEstimatUser(user, sprint) <= 30},
                  {'remaining-danger': getRemainingEstimatUser(user, sprint) > 30 && getRemainingEstimatUser(user, sprint) <= 35 },
                  {'remaining-success': getRemainingEstimatUser(user, sprint) >= 24 && getRemainingEstimatUser(user, sprint) <= 28 }
                  ]"
                            v-for="sprint in sprints">
                            <strong v-html="getRemainingEstimatUser(user, sprint)"></strong>
                        </td>
                    </tr>
                    <template v-for="project in user.projects" v-if="keyToggled(user.key)">
                        <tr>
                            <td></td>
                            <td>
                                <strong v-html="project.name"></strong>
                                <a v-on:click="toggleKey(user.key + '-' + project.id)" class="toggle">
                                    <span v-html="getToggle(user.key + '-' + project.id)"></span>
                                </a>
                            </td>
                            <td></td>
                            <td v-for="sprint in sprints">
                                <strong v-html="getRemainingEstimatUserProjectSprint(user, project, sprint)"></strong>
                            </td>
                        </tr>
                        <tr v-for="issue in project.users[user.key].issues" v-if="keyToggled(user.key + '-' + project.id)">
                            <td></td>
                            <td style="padding-left: 1em">
                                <span v-html="issue.fields.summary"></span>
                            </td>
                            <td>
                                <a :href="'{{ jiraUrl }}/browse/' + issue.key">
                                    <span v-html="issue.key"></span>
                                </a>
                            </td>
                            <td v-html="getRemainingEstimatIssue(sprint, issue)" v-for="sprint in sprints">

                            </td>
                        </tr>
                    </template>
                    </tbody>
                    <tbody>
                    <tr>
                        <td colspan="3">
                        </td>
                        <td v-html="getSprintRemainingTotal(sprint)" v-for="sprint in sprints"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <div><i class="fas fa-eye-slash"></i> <strong>{{ 'planning.ignored_users'|trans }}</strong></div>
                <div v-for="user in sortedUsers" v-if="hideUsers.hasOwnProperty(user.key) && hideUsers[user.key] === true">
                    <a v-on:click="toggleUser(user.key)">
                        <span v-html="user.displayName"></span> <i class="fas fa-eye"></i>
                    </a>
                </div>
            </div>
        </div>

        <div class="planning-section">
            <h5>{{ 'planning.headline.projects'|trans }}</h5>

            <div class="input-group mb-3" style="max-width: 400px">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">{{ 'planning.filter_projects'|trans }}</span>
                </div>
                <input type="text" class="form-control" placeholder="" aria-label="filter" aria-describedby="basic-addon1" v-model="projectFilter">
            </div>

            <div class="table-responsive">
                <table class="table table-bordered table-sm" id="table-projects">
                    <thead>
                    <tr>
                        <th colspan="3">
                        </th>
                        <th v-html="sprint.name" v-for="sprint in sprints"></th>
                    </tr>
                    </thead>
                    <tbody v-for="project in sortedProjects">
                    <tr>
                        <td>
                            <strong v-html="project.name"></strong>
                            <a v-on:click="toggleKey(project.id)" class="toggle">
                                <span v-html="getToggle(project.id)"></span>
                            </a>
                        </td>
                        <td></td>
                        <td></td>
                        <td v-html="getRemainingEstimat(project, sprint)" v-for="sprint in sprints"></td>
                    </tr>
                    <template v-for="user in project.users" v-if="keyToggled(project.id)">
                        <tr>
                            <td></td>
                            <td>
                                <strong v-html="user.displayName"></strong>
                                <a v-on:click="toggleKey(project.id + '-' + user.key)" class="toggle">
                                    <span v-html="getToggle(project.id + '-' + user.key)"></span>
                                </a>
                            </td>
                            <td></td>
                            <td :colspan="sprints.length"></td>
                        </tr>
                        <tr v-for="issue in user.issues" v-if="keyToggled(project.id + '-' + user.key)">
                            <td></td>
                            <td style="padding-left: 1em">
                                <span v-html="issue.fields.summary"></span>
                            </td>
                            <td>
                                <a :href="'{{ jiraUrl }}/browse/' + issue.key">
                                    <span v-html="issue.key"></span>
                                </a>
                            </td>
                            <td v-html="getRemainingEstimatIssue(sprint, issue)" v-for="sprint in sprints"></td>
                        </tr>
                    </template>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block sidebar %}
    {% include '@PlanningBundle/_planning-sidebar.html.twig' %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('planning') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {{ encore_entry_script_tags('planning') }}
{% endblock %}
